* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 80%;
  margin: 0 auto;
}

.imgbox1{
  height: 200px;
  background-image: url(img/box1.jpg);
  background-size: cover;
  background-position: center;
}

.imgbox2{
  height: 200px;
  background-image: url(img/box2.jpg);
  background-size: cover;
  background-position: center;
}

.imgbox3{
  height: 200px;
  background-image: url(img/box3.jpg);
  background-size: cover;
  background-position: center;
}

.imgbox4{
  height: 200px;
  background-image: url(img/box4.jpg);
  background-size: cover;
  background-position: center;
}